body{
    font-family: 'Inter', sans-serif;
    font-family: 'Poppins', sans-serif;
    font-family: 'Roboto Slab', serif;
    margin: 0;
}
.flexible{
    display: flex;
    padding:30px;
   
}
.inspire{
    width: 80%;
    margin-top: 40px;
    margin-left: 40px;
}
.hyper{
    font-size: 60px;
    border-left: 5px solid goldenrod;
    padding-left: 12px;
    border-radius: 2px;
}
.change{
    color:#FF5733 ;
}
p{
    font-size: 18px;
}
a{
    background-color:goldenrod;
    text-decoration: none;
    font-weight: 900;
    color: white;
    padding: 12px;
    border-radius: 5px;
    padding-left: 30px;
    padding-right: 30px;
}
.photo img{
    width: 50%;
    padding-left: 25% ;
    margin-bottom: 20px;
}
h1{
    font-size: 50px;
    font-weight: bold;
    text-align: center;
}

.dream{
    display: flex;
    width: 80%;
    margin-left: 5%;
    margin-right: 5%;
    padding-left: 5%;
    padding-right: 5%;
}
.space1{
    padding-right: 20px;
    background-color: rgba(13, 198, 198, 0.586);
    margin-right: 20px;
    border-radius: 25px;
    padding: 30px;
}
.space2{
    padding-right: 20px;
    background-color:rgba(255, 127, 80, 0.6);
    margin-right: 20px;
    border-radius: 25px;
    padding: 30px;
}
.space3{
    padding-right: 20px;
    background-color:rgba(95, 158, 160, 0.614);
    border-radius: 25px;
    padding: 30px;
}
.size{
    width:40%;
   
}
.font{
    text-align: left;
}
.code-pic{
    width: 60%;
    margin-left: 20%;
}
.hero-part{
    margin-right: 20%;
}
